@import 'compass/css3',
'compass/support',
'../../shared/sass/utilities/functions',
'../../shared/sass/utilities/mixins',
'../../shared/sass/utilities/extends';

//
// variables
//===========================
$mid-small: 550px;
$end-small: 800px;
$intermediate-break: 1000px;
$gutter: 15px;
$max-width: 1200px;

$primary: #ff8600;  // Orange
$primary-contrast: #55585a; // Dark Grey
$accent: #1e4463; // Navy
$text: #010101;
$alert: #c00;
$links: #0047ba; // blue

// Fonts
$font: Arial, sans-serif;

//
// extends and Mixins
//===========================

// Centered Wrapper
@mixin wrapper($max) {
   margin: 0 auto;
   max-width: $max;
}

@mixin clear-fix {
   &:after {
       clear: both;
       content: '';
       display: block;
   }
}

*[aria-hidden='true'] {
   display: none;
}

%button-base {
    text-align: center;
    line-height: 1;
    padding: 7.5px 0;
    cursor: pointer;
}

@mixin buttons($width, $color, $background) {
   @extend %button-base;
   width: $width;
   color: $color;
   background: $background;
   font-size: $font-size;
   transition: opacity .3s;

   &:hover {
       background: $color;
       color: $background;
       color: #fff;
   }
}

// For png images
@mixin png($image, $color: transparent, $position: 0 0, $repeat: no-repeat) {
   background: {
       color: $color;
       image: url('../v1_0/img/' + $image + '.png');
       position: $position;
       repeat: $repeat;
   }
}

// Flexbox
@mixin flex-box {
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-direction: normal;
   -moz-box-direction: normal;
   -webkit-box-orient: horizontal;
   -moz-box-orient: horizontal;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-box-pack: justify;
   -moz-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-align-content: stretch;
   -ms-flex-line-pack: stretch;
   align-content: stretch;
   -webkit-box-align: start;
   -moz-box-align: start;
   -webkit-align-items: flex-start;
   -ms-flex-align: start;
   align-items: flex-start;
}

@mixin rotate($axis: 45deg) {
   -webkit-transform: rotate($axis);
   -moz-transform: rotate($axis);
   -ms-transform: rotate($axis);
   -o-transform: rotate($axis);
   transform: rotate($axis);
}

@mixin triangle($color, $width, $height) {
   content: '';
   width: 0;
   height: 0;
   border-style: solid;
   border-width: $height ($width/2) 0 ($width/2);
   border-color: $color transparent transparent;
}

// When using be sure parent element is relative;
@mixin centered($horizontal: true, $vertical: true) {
 position: absolute;
 @if ($horizontal and $vertical) {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 } @else if ($horizontal) {
   left: 50%;
   transform: translate(-50%, 0);
 } @else if ($vertical) {
   top: 50%;
   transform: translate(0, -50%);
 }
}

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}


//default module styles
//===========================
@import '../../../company/shared/sass/modules/form',
//'../../../company/shared/sass/modules/jobmatchingfilters',
//'../../../company/shared/sass/modules/jobmatchingresults',
'../../../company/shared/sass/modules/joblocationmap';

//
// base layout
//=================================================================================
body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font: inherit;
   vertical-align: baseline;
}

// Border Box for all
html {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 62.5%;
}

*,
*:before,
*:after {
   -webkit-box-sizing: inherit;
   -moz-box-sizing: inherit;
   box-sizing: inherit;
}

body {
   color: $text;
   font-size: 1.6rem;
   font-family: $font;
   -webkit-font-smoothing: antialiased;
   margin: 0;
   overflow-x: hidden;
   min-width: 320px;
   line-height: 1.2;
}

#content {
   display: block;
}

button {
   border: 0 none;
   background: none;
   -webkit-appearance: none;
   -moz-appearance: none;
}

input[type='search'] {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-appearance: none;
}

input[type='submit'] {
   -webkit-appearance: none;
}

input, select {
   width: 100%;
   background: #fff;
   font-size: 1.6rem;
   height: 39px;
   border-radius: 0;
}

input {
   padding: 9px 10px;
}

select {
   padding: 4px;
}

ol, ul {
   list-style: none;
}

img {
   max-width: 100%;
}

a {
   color: $text;
   text-decoration: none;
   transition: opacity .3s;
}

a.access-link, .pagination-current-label b, .wai {
 display: block;
 overflow: hidden;
 position: absolute;
 text-indent: -9999em;
 z-index: -1;
}

.video-wrapper {
   position: relative;
   padding-bottom: 46.25%;
   padding-top: 9.25%;
   height: 0;
   font-size: 0;

   iframe, img {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
   }

   img {
     cursor: pointer;
   }
}



//
// Header
//=================================================================================

//
// Banner
//=================================================================================

//
// Search Form
//=================================================================================

//
// Random Modules and Such
//=================================================================================


// Job Lists
//=================================================================================

//
// Job Alert Form
// =================================================================================

.ja-form-wrapper form {
    padding: 45px 0;
    line-height: 1.4;
    @include clear-fix;

    h3 {
        font-size: 2rem;
        margin-bottom: 1em;


        font-weight: 300 !important;
    }

    p.form-instructions {
        margin-bottom: 1em;

        @include breakpoint($end-small) {
            font-size: 2rem;
        }
    }

    label {
        text-transform: uppercase;
        font-size: 1.2rem;
    }

    input[type="text"] {
        font-size: 1.4rem;
        padding: 10px;
        @include input-placeholder {
            color: $primary-contrast;
        }
    }

    legend {
        display: none;
    }

    span.instruction-text {
        display: block;
        margin-bottom: 1em;
        max-width: 665px;
    }

    fieldset p {
        margin-bottom: 1em;

        @include breakpoint($end-small) {
            width: 48%;

            &:first-of-type {
                float: left;
            }

            &:last-of-type {
                float: right;
            }
        }
    }

    fieldset ul {
        padding: 20px 0;
    }

   button.keyword-add {
       @include buttons(102px,$links,1.6rem);
       float: right;
       text-transform: capitalize;
       clear: both;
       padding: 21px 0;

       &:after {
           content: '';
           display: inline-block;
           width: 9px;
           height: 18px;
           background: url('../v1_0/img/blue-arrow.png') no-repeat right top;
           margin-left: 5px;
           position: relative;
           top: 3px;
       }

       &:hover:after {
           background-position: left top;
       }
   }

   p.submit input {
       display: block;
       @include buttons(123px);
       height: auto;
       margin: 10px auto 0;

       @include breakpoint($end-small) {
           margin: 10px 0 0;
       }
   }

   .keyword-selected {
       clear: both;
       padding-top: 25px;

       li {
           display: inline-block;
           background: #f4f4f4;
           color: $primary-contrast;
           margin: 0 5px 5px 0;
           font-size: 1.2rem;
           position: relative;
           padding: 7px 7px 7px 30px;
           text-transform: uppercase;
           cursor: pointer;
       }

       .keyword-remove {
           font-size: 0;
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;

           &:hover {
               color: $accent;
           }
       }

       .keyword-remove:before {
           @include centered(false);
           left: 7px;
           content: '+';
           font-size: 3rem;
           @include rotate;
           line-height: 0;
       }

       .keyword-remove:after {
           display: none;
       }
   }
}

//
// search results & Job Matching - result list
// =================================================================================

#search-results-list, #job-matching-results {

   > ul > li {
       margin: 0 0 1em;

       h2 {
           font-size: 2rem;

           &:hover {
               text-decoration: underline;
           }
       }

       span {
           display: block;
       }
   }
}

#search-results, #job-matching-results {
   margin: 50px 0;

   @include breakpoint($end-small) {
       width: 69%;
       max-width: 780px;
       float: left;
   }

   > h1 {
       margin: 0 0 .5em;
       font-size: 2.4rem;
   }

   button#filter-slideout-toggle {
       @include buttons(100%);
       border-width: 2px;
       margin-bottom: 1em;

       @include breakpoint($end-small) {
           display: none;
       }
   }
}

section#applied-filters {
   margin: 0 0 25px;

   h2 {
       margin: 0 0 .5em;
   }

   li {
       display: inline-block;
       padding: 7px 7px 7px 30px;
       margin: 0 25px 10px 0;
       background: #fff;
       font-size: 1.2rem;
       text-transform: uppercase;
       position: relative;
   }

   a {
       color: $primary-contrast;

       &:hover {
           color: $accent;
       }
   }

   a:before {
       content: '+';
       line-height: 0;
       font-size: 3rem;
       @include centered(false);
       @include rotate;
       left: 7px;
   }
}

ul#suggested-search-terms {
   font-style: italic;

   a {
       color: $text;

       &:hover {
           text-decoration: underline;
       }
   }
}

// search results - pagination
// =================================================================================

section#pagination-bottom {
    position: relative;

    .pagination-page-count {
        font-size: 1.4rem;
        text-align: center;
        margin-bottom: 15px;

        label {
            display: none;
        }

        span {
            display: inline-block;
            margin: 0 10px;
        }

        button {
            font-size: 1.4rem;
            display: inline-block;
            height: 40px;
            color: #fff;
            background: $primary-contrast;
            width: 40px;
        }
    }

   input#pagination-current-bottom {
     width: 40px;
     border: 0 none;
     height: 40px;
     padding: 12px 3px;
     font-weight: bold;
   }

   .pagination-paging {
       position: relative;
       text-align: center;
       @include clear-fix;

       @include breakpoint($mid-small) {
          position: absolute;
          @include centered(true,false);
          bottom: 0;
          width: 380px;

          .prev {
              float: left;
          }

          .next {
              float: right;
          }
       }

       a {
           width: 96px;
           display: inline-block;
           font-size: 1.4rem;
           font-weight: bold;
           padding: 13px 15px;
           text-align: center;
           position: relative;
           line-height: 1;

           &.disabled {
               display: none !important;
           }

           &.prev:before, &.next:after {
               content: url('../v1_0/img/tab.png');
               position: absolute;
               top: 0;
               left: 0;
               line-height: 0;
           }

           &.prev {
               text-align: right;
           }

           &.prev:before {
               @include rotate(180deg);
           }
       }
   }
}

//
// mindreader autocomplete search box =======================================================
//
.mindreader-status {
   display: block;
   overflow: hidden;
   position: absolute;
   text-indent: -9999em;
}
.mindreader-results {
   background: #fff;
   border-radius: 0 0 3px 3px;
   box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
   color: #000;
   list-style: none;
   margin: 0;
   padding: 0;
   position: absolute;
   text-align: left;
   z-index: 9999;
   &:empty {
       display: none;
   }
   li {
       margin: 0;
   }
   a {
       color: #000;
       display: block;
       padding: 2px 5px;
       text-decoration: none;
       text-transform: capitalize;
       &:hover, &:focus, &.active {
           background: rgba($primary, .1);
       }
   }
}

//
// search results & job matching - filters
// =================================================================================
#search-filters {
   z-index: 99999999 !important;
   padding: 110px $gutter 45px;
   position: fixed !important;
   background: #f4f4f4;


   @include breakpoint($end-small) {
       position: static !important;
       background: none;
       padding: 0;
   }

   h2 {
       margin: 0 0 .5em;
       font-size: 2.4rem;
       color: $primary-contrast;
       display: none;

       @include breakpoint($end-small) {
           display: block;
       }
   }
}

section#filter-distance {
   margin-bottom: 5px;
   padding: 10px 15px;
   background: $primary;
   color: #fff;
}

section#job-matching-logout {
   background: $primary;
   position: relative;
   margin-bottom: 15px;
   height: 66px;

   img {
       width: 66px;
   }

   h2 {
       position: absolute;
       bottom: 10px;
       left: 76px;
       color: #fff;
   }

   a {
       color: #fff;
       position: absolute;
       right: 10px;
       top: 10px;
       font-weight: bold;
       font-size: 1.5rem;
   }
}

.job-matching-location {
   padding: 7px 15px;

   input {
       width: 75%;
       display: inline-block;
       vertical-align: middle;
       border: 1px solid #666;
   }

   button {
       @include buttons;
       display: inline-block;
       vertical-align: middle;
       padding: 12.5px;
       height: 39px;
   }
}

#search-filters, #job-matching-filters {

    section {
        background: #fff;
        padding-bottom: 2px;

        &:last-of-type {
            padding-bottom: 0;

        }
    }

   .expandable {

       legend {
           display: block;
           width: 100%;
       }

       a {
           display: block;
           font-weight: bold;
           padding: 12px 20px;
           color: #fff;
           background: $primary-contrast;

           &:after {
               display: block;
               width: 10px;
               height: 18px;
               float: right;
               content: '';
               @include png(blue-arrow, transparent, 0 100%);
               margin: 0 6px;
               @include rotate(90deg);
           }

           &.expandable-child-open:after {
               @include rotate(270deg);
           }
       }
   }
}

section[data-expandable='false'] {
   .js & {
       > a {

           &:after {
               display: none;
           }
       }
   }
}

.search-filter-list, .job-matching-filter-list{
   overflow-x: hidden;
   overflow-y: auto;
   padding: 0 20px;
   max-height: 270px;
   width: 100%;

   li {
       @include clear-fix;
       padding: 7.5px 0;
   }

   label {
       cursor: pointer;
       display: inline-block;
       max-width: calc(100% - 30px);
       vertical-align: middle;
       font-size: 1.4rem;

       b {
           font-weight: normal;

           &:not(.filter) {

               &:before {
                   content: ' (';
               }

               &:after {
                   content: ')';
               }
           }
       }
   }

   input[type='checkbox'] {
       width: 15px;
       height: 15px;
       display: inline-block;
       vertical-align: middle;
       float: right;
       border: 0 none;
   }
}

.js .search-filter-list {
   display: none;
   &.expandable-childlist-open {
       display: block;
   }
}

#search-filter-apply {
   @include breakpoint($end-small) {
       display: none;
   }
}

input#search-filter-clear, #filter-close-toggle {
   @include buttons(100%,$text);
   margin: 5px auto;
   height: auto;
   background: none;
}

@include filter-slide-out(800px, 0, search-filters);

#filter-close-toggle {
   top: 20px;
   left: $gutter;
   width: calc(100% - 60px);
   vertical-align: top;

   &:after {
       content: '+';
       line-height: 0;
       display: inline-block;
       margin-left: 30px;
       font-size: 6rem;
       @include rotate;
       vertical-align: top;
       position: relative;
       top: 4px;
   }

   &.open {
       position: fixed;
   }

   @include breakpoint($end-small) {
       display: none;
   }
}
//
// job details - style overrides for ATS description
// =================================================================================

.job-description {
    margin: 50px 0;

   @include breakpoint($end-small) {
       float: left;
       width: calc(100% - 410px);
   }

   > h1 {
       font-size: 2.4rem;
       padding-bottom: 1em;

   }

   p.highlighted {
       margin: 0 0 1em;
   }

   span.job-info {
       display: block;

       b:after {
           content: ':';
       }
   }

   span.job-schedule ul {
       margin-left: 30px;
       list-style: disc;
   }
}

.ats-description {
   color: $text !important;
   font-size: 1.6rem !important;
   margin: 0 0 1em;

   * {
       line-height: 1.4em !important;
       font-size: 1.4rem !important;
       font-size: 1.6rem !important;

       &:not(br):empty {
           display: none;
       }
   }

   p, div, span, font {
       font-size: 1em !important;
       margin-left: 0 !important;
       margin-right: 0 !important;
       text-indent: 0 !important;
       color: $text !important;
   }

   ul, ol {
       list-style: disc !important;
       margin-left: 20px !important;
   }
}

.job-apply, #save-job {
    display: block;
    @include buttons(100%,#fff);
    background: $primary;
    margin: 0 0 25px;
    border-color: $primary;

    &:hover {
        color: $primary;
    }

    @include breakpoint($end-small) {
        width: 122px;
    }
}

//
// Error page, Unsubscribe, Alert Verify
// =================================================================================
#content .short-message {
   padding: 50px 0 80px;

   h1 {
       font-size: 2rem;
       margin-bottom: .5em;
   }

   a {
       color: $primary;
       display: inline;
   }
}

//
// Job Alerts Page
// =================================================================================

#j-alerts main {

   form {
       margin: 0 0 25px;

       &#job-alert-list li {
           margin: 0 0 1em;

           > * {
               display: inline-block;
               vertical-align: middle;
               margin-right: 15px;
           }
       }

       &#job-alert-unsubscribe {
           p {
               margin: 0 0 1em;
           }

           input {
               display: inline-block;
               width: auto;
           }

           label {
               display: inline-block;
               width: calc(100% - 45px);
           }
       }
   }

   h1 {
       margin: 0 0 .5em;
   }

   label {
       display: block;
   }

   input {
       border: 1px solid $text;
       max-width: 500px;
       display: block;
   }
}

//
// Location Page
// =================================================================================
.job-map {
    margin: 50px 0;
}

.job-map h2 {

   font-size: 2.4rem;
   margin: 0 0 1em;
}

.js .job-map .job-map-canvas {
   width: 100%;
}

.job-map-controls {
   padding: 35px 15px;
   margin: 20px 0;
   @include clear-fix;

   h3 {


       font-size: 2rem;
       margin-bottom: .5em;
   }

   form p {
       margin-bottom: 1em;
   }
}

.job-map-nearby {

   @include breakpoint($end-small) {
       float: left;
       width: 49%;
       max-width: 452px;
   }

   ul {
       font-size: 0;
   }

   li {
       margin: 0 0 7px;
       display: inline-block;
       width: 100%;

       @include breakpoint($end-small) {
           max-width: 218px;
           margin: 0 7px 7px 0;
           width: calc(50% - 7px);
       }
   }

   a {
       @include buttons;
       display: block;
   }
}

.job-map-directions {
   @include breakpoint($end-small) {
       float: right;
       width: 49%;
       max-width: 445px;
   }

   input[type='submit'] {
       @include buttons(150px);
       height: auto;
       background: transparent;
   }
}

//
// Footer
//=================================================================================
